In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
csv_file="COVID-19_Cases_US.csv"
c_df=pd.read_csv(csv_file)
c_df.head()

,X,Y,OBJECTID,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Recovered,Deaths,Active,Admin2,FIPS,Combined_Key,Incident_Rate,People_Tested,People_Hospitalized,UID,ISO3
0,-82.461707,34.223334,1,South Carolina,US,2020/06/05 01:33:13+00,34.223334,-82.461707,46,0,0,46,Abbeville,45001.0,"Abbeville, South Carolina, US",187.548416,NaN,NaN,84045001,USA
1,-92.414197,30.295065,2,Louisiana,US,2020/06/05 01:33:13+00,30.295065,-92.414197,462,0,26,436,Acadia,22001.0,"Acadia, Louisiana, US",744.620840,NaN,NaN,84022001,USA
2,-75.632346,37.767072,3,Virginia,US,2020/06/05 01:33:13+00,37.767072,-75.632346,966,0,12,954,Accomack,51001.0,"Accomack, Virginia, US",2989.231341,NaN,NaN,84051001,USA
3,-116.241552,43.452658,4,Idaho,US,2020/06/05 01:33:13+00,43.452658,-116.241552,823,0,22,801,Ada,16001.0,"Ada, Idaho, US",170.893317,NaN,NaN,84016001,USA
4,-94.471059,41.330756,5,Iowa,US,2020/06/05 01:33:13+00,41.330756,-94.471059,9,0,0,9,Adair,19001.0,"Adair, Iowa, US",125.838926,NaN,NaN,84019001,USA

In [5]:
covid_df= c_df[['Last_Update','Confirmed','Deaths','Active','Combined_Key','Incident_Rate','FIPS']].copy()
covid_df.head()

,Last_Update,Confirmed,Deaths,Active,Combined_Key,Incident_Rate,FIPS
0,2020/06/05 01:33:13+00,46,0,46,"Abbeville, South Carolina, US",187.548416,45001.0
1,2020/06/05 01:33:13+00,462,26,436,"Acadia, Louisiana, US",744.620840,22001.0
2,2020/06/05 01:33:13+00,966,12,954,"Accomack, Virginia, US",2989.231341,51001.0
3,2020/06/05 01:33:13+00,823,22,801,"Ada, Idaho, US",170.893317,16001.0
4,2020/06/05 01:33:13+00,9,0,9,"Adair, Iowa, US",125.838926,19001.0